* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */

:root {
  --active: #d1fc51;
  --active-hover: #e2fa9b;
  --box-bc-dark: #363636;
  --body-bc-dark: #1f1f1f;
  --box-bc-light: #b2b2b2;
  --body-bc-light: #ffffff;
  --clr-white: white;

  --spacing: 0.1rem;

  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;

  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
}

/* normalization */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--body-bc-dark);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--box-bc-dark);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* global style */

.btn {
  border: none;
  padding: 0.5rem 1.25rem;
  text-transform: capitalize;
  background: var(--active);
  font-weight: 500;
  font-size: 1rem;
  border-radius: 5px;
  color: var(--body-bc-dark);
  cursor: pointer;
}
.add-to-cart {
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
}

.see-more {
  border: none;
  padding: 0.25rem 0.75rem;
  text-transform: capitalize;
  background: var(--active-hover);
  font-weight: 500;
  font-size: 1rem;
  border-radius: 5px;
  color: var(--body-bc-dark);
  cursor: pointer;
}

.title {
  border: none;
  padding: 1rem 1.25rem;
  text-transform: capitalize;
  background: var(--active);
  font-weight: 500;
  font-size: 1rem;
  border-radius: 5px;
  color: var(--body-bc-dark);
  cursor: pointer;
}
.btn:hover {
  background: var(--active-hover);
}
a {
  color: inherit;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1200px;
}

/* nav style*/

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  min-width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: var(--box-bc-dark);
  padding: 0 1rem;
}
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 250px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  transform: translate(-100%);
  background: var(--box-bc-dark);
}

.nav-bar ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.show-nav-bar {
  transform: translate(0);
  display: flex;
}
.nav-bar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.logo {
  color: var(--active);
  font-size: 1.2rem;
  margin: 0;
}

.lists {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.navigation-btn {
  padding: 0.5rem;
  cursor: pointer;
}

.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: rgb(219, 211, 211);
  float: right;
  margin-right: 1rem;
}
.close-btn:hover {
  color: rgb(255, 21, 0);
}

.list {
  text-align: center;
  color: var(--active);
}

.link {
  color: var(--active);
  padding: 1rem;
  margin: 0.25rem;
  text-transform: capitalize;
  border-radius: 10px;
  cursor: pointer;
}
.link:hover {
  background: var(--body-bc-dark);
}
.search-form {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.search {
  border: none;
  border-radius: 5px;
  width: 230px;
  height: 40px;
  padding: 0 0.5rem;
  /* display: none; */
}

.search-btn .text {
  display: none;
}

@media screen and (min-width: 922px) {
  nav {
    gap: 5rem;
    padding: 0 5rem;
  }
  .nav-bar {
    position: relative;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translate(0%);
    background: transparent;
    align-items: center;
    gap: 3rem;
  }

  .close-btn {
    display: none;
  }
  .navigation-btn {
    display: none;
  }
  .nav-bar ul {
    max-width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .show-nav-bar {
    transform: translate(0);
    display: flex;
  }

  .search-btn .text {
    display: block;
  }
  .search-btn .icon {
    display: none;
  }
  .search {
    width: 270px;
  }
}

/* end of nav style */

/* main section */

@media screen and (min-width: 922px) {
  .main-section {
    width: 100%;
    padding: 3rem 5rem;
    display: flex;
    min-height: 100vh;
    gap: 2rem;
  }

  /* side bar */
  .side-bar {
    position: sticky;
    top: 100px;
    min-height: calc(100vh - 160px);
    width: calc(100% - 2rem - 75%);
    display: flex;
    flex-direction: column;
    background: var(--box-bc-dark);
    align-self: baseline;
    box-shadow: var(--dark-shadow);
  }

  .side-bar div {
    width: 100%;
    padding: 1rem;
  }

  .profile-card {
    width: 100px;
    height: 100px;
  }

  .card {
    width: 250px;
    height: 350px;
    background: var(--box-bc-dark);
    box-shadow: var(--dark-shadow);
    border-radius: 10px;
    overflow: hidden;
    color: var(--body-bc-light);
  }
  .ratio-box {
    width: 100%;
    height: 0;
    padding-top: calc(100% * (6 / 6));
    position: relative;
    overflow: hidden;
    border-radius: var(--img-border);
  }

  .the-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  /* products */
  .products {
    min-height: 100%;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 2rem;
  }

  .card-body {
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 0.5rem;
  }
  .card-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .card-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .product-name {
    text-transform: capitalize;
    font-size: 1.2rem;
  }
}

/* cart display style */

.cart-container {
  width: 100%;
}

.cart-container table thead {
  /* height: 100px; */
  color: var(--body-bc-light);
}

.cart-container table tbody img {
  width: 70px;
  height: 70px;
}

.cart-container table {
  width: 100%;
  margin-top: 3rem;
  text-align: center;
  text-transform: capitalize;
}

/* insert a product style */
.form {
  width: 100%;
  max-width: 400px;
  margin: 3rem auto;
  background: var(--box-bc-dark);
  padding: 2rem;
  box-shadow: var(--dark-shadow);
  border-radius: 5px;
}

.single-form {
  width: 100%;
}
.single-form label {
  font-size: 0.75rem;
  text-transform: capitalize;
  color: var(--active);
  display: block;
  margin-bottom: 0.125rem;
  letter-spacing: var(--spacing);
}
/* form style */
.single-form input {
  border: none;
  width: 100%;
  height: 35px;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
  border-radius: 5px;
}
.single-form select {
  border: none;
  width: 100%;
  height: 35px;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
  border-radius: 5px;
  text-transform: capitalize;
}
.single-form option {
  background: var(--body-bc-dark);
  color: var(--body-bc-light);
  text-transform: capitalize;
}

.recommendation {
  color: var(--body-bc-light);
  text-transform: capitalize;
  margin-top: 1rem;
  font-size: 0.75rem;
}

.recommendation a {
  color: orange;
}
